# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
env/
venv/
.venv/

# Jupyter lab
**/.ipynb_checkpoints/**

# Test and Coverage
.tox/
.pytest_cache/
.coverage
nosetests.xml
coverage.xml
htmlcov/

# Virtual Environment
env/
.venv/
ENV/
env.bak/
venv.bak/

# Build / Distribution
build/
dist/
*.egg-info/
*.egg

# SQLite and Local DBs
*.db
*.sqlite3
test_db.db

# System/IDE files
.DS_Store
.idea/
.vscode/

# Others
*.log

# --- Project Specific ---

# 1. Datasets: Ignore actual data, but KEEP DVC pointers
datasets/*
!datasets/.gitkeep
!datasets/*.dvc

# 2. Models: Ignore binaries, but Keep Reports
models/* # Ignore everything in models (including .joblib)
!models/.gitkeep       # Keep the folder structure
!models/reports/

# 3. Logs & Artifacts
logs/*
!logs/.gitkeep
tensorboard_logs/
mlflow-artifacts/

# 4. DVC Internals
/dvc.lock
.dvc/cache/
.dvc/tmp/